In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

import matplotlib.style as style
style.use('seaborn-whitegrid')

import os
import pprint
# import googlemaps
# import time
import pickle
from random import randint
from collections import defaultdict

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, KFold
from sklearn.linear_model import RidgeCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [2]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize, TreebankWordTokenizer, wordpunct_tokenize
from nltk.tag import pos_tag
from nltk.chunk import ne_chunk
from nltk.util import ngrams
from nltk.corpus import stopwords

from textblob import TextBlob

In [3]:
# Set pandas options
pd.set_option('max_rows', 10)
# pd.set_option('max_colwidth', -1)
# pd.set_option('display.width', 150)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('data/cleaned_df.csv')

In [8]:
df.head()

,Unnamed: 0,id,host_id,host_listings_count,host_total_listings_count,neighbourhood,zipcode,latitude,longitude,property_type,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,0,7893,21489,1,1,Piedmont,97217,45.575479,-122.666777,House,...,2,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0,0.02
1,1,12899,49682,1,1,Concordia,97211,45.564010,-122.634717,Guest suite,...,497,98.0,10.0,10.0,10.0,10.0,10.0,10.0,0,4.69
2,2,16688,64840,1,1,Pearl,97209,45.525418,-122.685566,House,...,40,97.0,10.0,10.0,10.0,10.0,10.0,9.0,1,2.27
3,3,25200,104038,6,6,Humboldt,97217,45.556750,-122.677839,House,...,33,92.0,9.0,9.0,10.0,10.0,10.0,9.0,0,0.32
4,4,26203,104038,6,6,Humboldt,97217,45.556965,-122.675656,House,...,27,92.0,9.0,10.0,9.0,10.0,10.0,9.0,0,0.27

In [6]:
TextBlob(df.iloc[0,-1]).sentiment

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'numpy.float64'>

In [7]:
df.iloc[0,-1]

0.02